NEXT_PUBLIC_SOL_CLUSTER=testnet
NEXT_PUBLIC_CUSTONOMY_ENDPOINT=https://api-trail.custonomy.io
NEXT_PUBLIC_CUSTONOMY_PROJECT_ID=YOUR_CUSTONOMY_PROJECT_ID
NEXT_PUBLIC_CUSTONOMY_APIKEY=YOUR_CUSTONOMY_APIKEY
NEXT_PUBLIC_CUSTONOMY_APISECRET=YOUR_CUSTONOMY_APISECRET

NEXT_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
